[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# editorconfigは基本的なインデント設定、prettierrcでより細かい設定をしている
# 参考：https://ics.media/entry/17030/